/*!
 * DCook 1.0.0
 */

@import "bootstrap/bootstrap.less";

/*Store the Project's color palette variables here. Use project-{color} naming convention */
@project-blue:         #26b7f0;
@project-light-blue:   #098ed3;

/* Project Specific Font Family */
@project-font-main: 	 "Helvetica Neue", Helvetica, Arial, sans-serif;
@project-font-headings: inherit;
@project-font-size-base:	14px;




/* ==========================================================================
   Base
   ========================================================================== */

body { }


/* ==========================================================================
   Navbar
   ========================================================================== */
.navbar-default{
  background-color: #FFF;
}
.navbar-default .navbar-nav>li>a{
  color: @project-light-blue;
}
.navbar-brand{
  padding: 4px 15px;
}


// Active Page
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #FFF;
  border-bottom: 5px solid #1c528e;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
